Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AlignTrailingComments: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 4
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 4
NamespaceIndentation: None
SortIncludes: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BinPackParameters: true
BinPackArguments: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
PointerAlignment: Left
ReferenceAlignment: Left